<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            
        <title>Data Display</title>
    </head>
    <body class="text-center">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            EC2
                        </button>
                    </h2>
                </div>
                    
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive mt-4">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Availibility<br>Zone</th>
                                        <th scope="col">EC2</th>
                                        <th scope="col">Volumes<br>(NONE) - NOT ENCRYPTED<br>(DKMS) - ENCRYPTED</th>
                                        <th scope="col">Security<br>Groups<br>(INCOMING CIDR=0.0.0.0/0)</th>
                                        <th scope="col">EC2 TAGS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    {{ range .}}
                                        <td>{{ .AvailabilityZone }}</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    {{ end }}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            S3
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive mt-4">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Availibility Zone</th>
                                        <th scope="col">EC2</th>
                                        <th scope="col">Volumes</th>
                                        <th scope="col">Security</th>
                                        <th scope="col">EC2 Tags</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            IAM
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive mt-4">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Availibility Zone</th>
                                        <th scope="col">EC2</th>
                                        <th scope="col">Volumes</th>
                                        <th scope="col">Security</th>
                                        <th scope="col">EC2 Tags</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                    <tr>
                                        <td>gsdjhgadjsagjdas</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                        <td>sajdgjsagdjsagdj</td>
                                        <td>@jhjhgjgjhhkhk</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
            
            
            
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
